/* You can add global styles to this file, and also import other style files */
*{
    --primaryColor: #0087ff;
    --secondaryColor: #0975d4;
    --highlightColor: #EA6A68;
    --gray: #EDEDED;
    --darkGray: #999;
    --boxShadow: 0px 2px 8px 0px rgba(0,0,0,0.3);
    --boxShadowNO: 0px 0px 0px 0px rgba(0,0,0,0.3);
    font-family: 'Ubuntu';
    text-align: center;
    margin: 0px;
    padding: 0px;
}

input[type="email"],
input[type="password"],
input[type="text"],
input[type="number"],
select,
textarea,
.input,
.react-inputs-validation__textbox__input___20hDL
{
    border-radius: 5px !important;
    border: 2px solid var(--gray);
    outline: none !important;
    padding: 10px !important;
    min-width: 100px;
    width: 60%;
    max-width: 400px;
    margin-bottom: 16px;
    box-sizing: border-box !important;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
select:focus,
textarea:focus,
.input:focus{
    border: 2px solid var(--primaryColor);
    -webkit-box-shadow: var(--boxShadow);
    -moz-box-shadow: var(--boxShadow);
    box-shadow: var(--boxShadow);
}

button{
    cursor: pointer;
    border: none;
    padding: 10px 16px;
    border-radius: 5px;
    font-size: 16px;
    min-width: 100px;
    width: 60%;
    max-width: 400px;
    color: white;
    outline: none;
    background-color: var(--highlightColor);
}

button:hover{
    -webkit-box-shadow: var(--boxShadow);
    -moz-box-shadow: var(--boxShadow);
    box-shadow: var(--boxShadow);
}

button:active{
    -webkit-box-shadow: inset var(--boxShadow);
    -moz-box-shadow: inset var(--boxShadow);
    box-shadow: inset var(--boxShadow);
}

label{
    display: inline-block;
    text-align: left;
    color: white;
    min-width: 100px;
    width: 60%;
    max-width: 400px;
    margin: 10px !important;
}

i.fa{
    margin-right: 5px;
}